@import "tailwindcss";
 
body {
  font-family: 'Open Sans', sans-serif;
  background: black;
  color: rgb(226,230,225);
}

html, body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: rgb(226,230,225); 
  border-radius: 10px; 
}

